#progress_bar {
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    height: 10px;
    width: 100%;
    display: inline-block;
}
#progress_bar.loading {
    opacity: 1.0;
}
#progress_bar .percent {
    background-color: #78c623;
    width: 0;
    height: 10px;
    margin-top: -6px;
}

.b-add-library-popup {
    position: absolute;
    background-color: white;
    max-width: 80%;
    width: 530px;
    height: 250px;
    border-top: solid #6ab01c 5px;
    margin-left: calc(50% - 265px);
    margin-top: calc(50vh - 125px);
    top: 0;
    left: 0;
}
.b-popup-after-uploading-text {
    margin: 10px 20px 10px 20px;
    color: gray;
    font-size: 16px;
}
.b-popup-after-uploading-checkbox {
    padding-left: 20px !important;
    color: gray;
    font-size: 16px;
}
.b_libraries {
    padding-top: 35px;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100% - 215px);
}
.b-add-library-popup.form-library {
    height: auto;
    width: 65%;
    margin-left: calc(35vw / 2);
    margin-top: 50px;
    padding-bottom: 50px;
    top: 0;
    left: 0;
    font-weight: 300;

}
.form-library .b-library-edit {
    background-color: inherit;
    margin: 0;
    width: 100%;
    columns: 2;
    -moz-columns: 2;
    -webkit-columns: 2;
}

.form-library .b-library-edit input {
    width: 67%;
}
.b-invite-library-popup {
    height: 400px;
    position: relative;
    background-color: white;
    max-width: 80%;
    width: 530px;
    border-top: solid #6ab01c 5px;
    margin-left: calc(50% - 265px);
    margin-top: calc(50vh - 200px);
}
.form-library .b-library-edit textarea {
    overflow: auto;
    width: 65%;
}

.form-library.b-add-library-popup label {
    width: 20%;
    padding-left: 0;
}

.form-library .b-library-edit {
    height: auto;
}

.form-library .b-library-edit .b-library-edit--form__icon {
  background-color: inherit;
}

.b_libraries__table {
    margin-left: 5%;
    width: 90%;
}

.b-add-library-popup label {
    display: inline-block;
    box-sizing: border-box;
    padding-left: 50px;
    width: 100%;
}

.b-add-library-popup input {
    width: auto;
}


.b-add-library__footer {
    height: 65px;
    background-color: #e0e2e2;
}

.b-add-library__footer button {
    width: 100px;
}

.b_invite_users__table {
    overflow: auto;
    height: 290px;
}


.b-other-library-button {
    position: relative;
    display: inline-block;
}

.b-import-user-popup {
    height: 250px;
    position: absolute;
    margin-left: calc(50% - 265px);
    margin-top: calc(50vh - 125px);
}

.b-import-user-popup-header {
    padding: 35px;
}

.b_download_button {
    width: 85px;
}

.b-library-import-user {
    float: left;
    width: 13%;
    text-align: right;
    color: grey;
    margin-right: 20px;
}