
#password-recovery {
    width: 100%;
    margin-left: 0;
}
#password-recovery form {
    width: 100%;
    margin-left: 0;
}
#password-recovery h1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}