.b-search {
    /* hide while not working */
    display: none;

    box-sizing: border-box;
    position: absolute;
    left: auto;
    right: 25px;
    top: 50px;
    background-color: #583c58;
    width: 250px;
    height: 45px;
    padding-left: 8px;
    padding-right: 45px;

    color: white;
}

input.b-search__input {
    color: inherit;
    font-style: italic;
    width: 100%;
    background-color: inherit;
    line-height: 45px;
    margin: 0;
    border: none;
    padding: 0;
    outline: none;
}

input.b-search__input:focus, input.b-search__input:hover {
    color: white;
    background-color: inherit;
    border: none;
}

input.b-search__input::-webkit-input-placeholder {
    color: white;
    background-color: inherit;
}

input.b-search__input::-ms-input-placeholder {
    color: white;
    background-color: inherit;
}

input.b-search__input::-moz-placeholder {
    color: white;
    background-color: inherit;
}

.b-search__icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14pt;
}

.b-search__separator {
    position: absolute;
    top: 5px;
    right: 46px;
    height: 70%;
    border-left: solid white 1px;
}
