h4 {
    font-weight: bold;
}
/* downloaded content */
.b_content--result__downloaded {
    width: 100%;
    height: calc(100% - 40px);
}

.b_content {
    height: calc(100% - 285px);
}

.b_content--result {
    display: inline-block;
    width: 43.5%;
    height: calc(100% - 35px);
    margin: 1.25%;
    background-color: #f6f6f6;
}
.b_content--result--toolbar__btn {
    display: none;
    float: right;
    margin-right: 5px;
    background-color: #64af3e;
    border-color: #64af3e;
    min-height: 24px;
    padding-top: 0;
    height: 25px;
    margin-top: 4px;

    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 12pt;
}

.b_content--result--toolbar {
    padding: 5px;
    height: 33px;
    background-color: #e0e2e2;
}
.b_content--result--toolbar__title {
    color: #2c6a6c;
    font-size: 16pt;
    margin-left: 7px;
    text-transform: uppercase;
    position: relative;
    top: 3px;
}

/* statistic filters */
.b_filter {
    display: none;
    width: 90%;
    margin: 1.25%;
    margin-left: 5%;
    height: auto;
    background-color: #f6f6f6;

}

.b_filter--checkbox {
    width: 60%;
    padding-top: 2%;
    padding-left: 6%;
    display: inline-block;
}
.text {
    position: relative;
    display: inline-block;
    top: -6px;
    color: #898989;

}
.b_filter--checkbox__radio {
    margin-bottom: 7px;
}

.b_filter--btn {
    display: inline-block;
    margin-bottom: 10px;
    width: 30%;
}
.b_filter--btn__download {
    left: 22px;
    position: relative;
    float: right;
    margin-top: 3px;
    background-color: #64af3e;
    border-color: #64af3e;
    min-height: 24px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-size: 12pt;
}

.b_filter--date-picker {
    margin-left: 10%;
    width: 100%;
    color: #8d8f8f;
    padding-bottom: 15px;
}
.b_filter--date-picker.hidden {
    display: none;
}
.b_filter--date-picker input {
    width: 130px;
}
.b_filter--date-picker--input {
    margin-left: 40px;
    position: relative;
    display: inline-block;
}
.b_filter--date-picker--input__calendar {
    height: 38px;
    position: absolute;
    display: inline-block;
    width: 32px;
    right: 0;
    top: 0;
    font-family: FontAwesome !important;
}
.b_filter--date-picker--input__calendar:before {
    content: "\f073";
    position: relative;
    top: 5px;
    left: 7px;
    font-size: 16pt;
}
.b_filter--date-picker--input__picker {
    color: #8d8f8f !important;
    background-color: #e4e5e5 !important;
    border: 1px solid #e3e3e3 !important;
}
/* listView templates  */
.b_list-tpl--item {
    width: 100%;
    height: 70px;
    background-color: #f6f6f6;
    padding: 5px;
    overflow: hidden;
}

.b_list-tpl--item__number {
    float: left;
    width: 50px;
    color: #5d415e;
    padding-top: 20px;
    height: 60px;
    text-align: center;
}

img.b_list-tpl--item__image {
    height: 60px;
    margin: 5px;
    float: left;
    margin-right: 20px;
}

.b_list-tpl--item__text {
    padding-top: 20px;
    height: 60px;
}

.listLayoutTopHeaderTemplateRoot, .gridLayoutLeftHeaderTemplateRoot {
    font-size: larger;
    margin-left: 16px;
}

