.b-edit-user__wrapper {
    background-color: #f6f6f6;
    width: 80%;
    padding-top: 10px;
    margin-left: 5%;
    position: relative;
}
.b_users {
    padding-top: 35px;
    overflow-x: hidden;
    max-height: calc(100% - 215px);
    height: auto;
}
.b_users__table {
    margin-left: 5%;
    width: 92%;
}
.b-edit-user__field-wrapper {
    padding-top: 5px;
    padding-bottom: 5px;

}

.b-edit-user__label {
    float: left;
    padding-top: 5px;
    width: 300px;
    text-align: right;
    color: grey;
    margin-right: 20px;
}

.b-edit-user__type {
    width: 280px;
    background-color: #fff !important;
    width: 90px !important;
}

.b-edit-user__error {
    color: darkred;
    display: inline;
}

.b-edit-user__credentials {
    background-color: #e2eed8;
}

.b-edit-user__buttons {
    height: 100px;
    display: block;
    margin-left: calc(40% - 50px);
    margin-top: 35px;
    position: relative;
}

.b-edit-user__note {
    font-size: 14px;
    color: grey;
    margin-left: 20px;
}

.b-edit-user__buttons button {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.b_user-import-link {
    width: 150px;
    margin: 0px 10px;
}